@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --cor-de-fundo:#408A71;
    --cor-texto-principal:#091413;
    --cor-texto-secundaria:#285A48;
    --botão-ativo:#B0E4CC;
    --botão-inativo:#5E0006;

}


body{
    background: var(--cor-de-fundo);
    color:var(--cor-texto-principal);
    font-family: "SN Pro", sans-serif;
}

.conteudo-pricipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}

